<!doctype html>
<html>
<head>
	<title>Danh sách bạn</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
	#footer{
		background-color: 	#696969;
		margin-top: 180px;

		padding-top:20;
		}
		body{
			background-image: url(bg.png);
			background-size: cover;

		}
	.table-responsive {
			min-height: .01%;
			overflow-x: auto;
		}
		@media screen and (max-width: 767px) {
			.table-responsive {
				width: 100%;
				margin-bottom: 15px;
				overflow-y: hidden;
				-ms-overflow-style: -ms-autohiding-scrollbar;
				border: 1px solid #ddd;
			}
			.table-responsive > .table {
				margin-bottom: 0;
			}
			.table-responsive > .table > thead > tr > th,
			.table-responsive > .table > tbody > tr > th,
			.table-responsive > .table > tfoot > tr > th,
			.table-responsive > .table > thead > tr > td,
			.table-responsive > .table > tbody > tr > td,
			.table-responsive > .table > tfoot > tr > td {
				white-space: nowrap;
			}
			.table-responsive > .table-bordered {
				border: 0;
			}
			.table-responsive > .table-bordered > thead > tr > th:first-child,
			.table-responsive > .table-bordered > tbody > tr > th:first-child,
			.table-responsive > .table-bordered > tfoot > tr > th:first-child,
			.table-responsive > .table-bordered > thead > tr > td:first-child,
			.table-responsive > .table-bordered > tbody > tr > td:first-child,
			.table-responsive > .table-bordered > tfoot > tr > td:first-child {
				border-left: 0;
			}
			.table-responsive > .table-bordered > thead > tr > th:last-child,
			.table-responsive > .table-bordered > tbody > tr > th:last-child,
			.table-responsive > .table-bordered > tfoot > tr > th:last-child,
			.table-responsive > .table-bordered > thead > tr > td:last-child,
			.table-responsive > .table-bordered > tbody > tr > td:last-child,
			.table-responsive > .table-bordered > tfoot > tr > td:last-child {
				border-right: 0;
			}
			.table-responsive > .table-bordered > tbody > tr:last-child > th,
			.table-responsive > .table-bordered > tfoot > tr:last-child > th,
			.table-responsive > .table-bordered > tbody > tr:last-child > td,
			.table-responsive > .table-bordered > tfoot > tr:last-child > td {
				border-bottom: 0;
			}
		}
		</style>

		<script type="text/javascript">
		function remove (x){
			if (window.XMLHttpRequest)
			{
				// code for IE7+, Firefox, Chrome, Opera, Safari
				xmlhttp=new XMLHttpRequest();
			} else {
				// code for IE6, IE5
				xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
			}

			xmlhttp.open("POST", "block_friend", true);
			xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
			xmlhttp.send("user="+ x);
			location.reload();
		}
	</script>
</head>

<body background="bg.png">
	<div id="header">
		<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
			<a class="navbar-brand" href="/">MY WEBCHAT</a>
			<ul class="nav navbar-nav">
				<li>
					<a  href ="/profile">Danh sách tin nhắn </a>
				</li>
				<li class="active">
					<a  href ="/friend">Danh sách bạn </a>
				</li>
				<li>
					<a href ="/sended">Tin đã gửi </a>
				</li>
				<li style="margin-left: 400px;color: white;">
					<a> Tài khoản của bạn: <%= user.local.email %></a>
				</li>
				<li>
					<a class="nav navbar-nav" href="/logout">Thoát</a>
				</li>
			</ul>
		</div>

		
<div id="container">

		<div class="row">
			<div class="col-md-2 col-md-offset-1">
				<div class="panel panel-default">
				<div class="panel-heading">
				<b class="panel-title"><span class="glyphicon glyphicon-hand-right"></span> Xin chào!!</b>

				</div>
				<strong >  Chào <%= user.local.email %></strong><br><br>
				<ul>
					<li>
						<a href="/chat" > Gửi tin nhắn mới</a>
					</li>
					<li>
						<a href="/profile" > Danh sách tin nhắn</a>
					</li>
					<li>
						<a href="/sended" > Tin đã gửi</a>
					</li>
				</ul>

				</div>
				<div class="panel panel-default">
				<div class="panel-heading">
				<b class="panel-title"><span class="glyphicon glyphicon-phone"></span> Liên hệ:</b>

				</div>

				<ul>
					<li>
						<a href="https://web.facebook.com/htantruc" target="_blank"> Facebook 1</a>
					</li>
					<li>
						<a href="https://web.facebook.com/nguyen.hoangminh.338" target="_blank"> Facebook 2</a>
					</li>
					<li>
						<a href="http://vtweb.byethost16.com/HOME.html" target="_blank"> Trang web</a>
					</li>
				</ul>

				</div>
			</div>

			<div class="col-md-5  ">
			
				<div class="panel panel-default">
				<div class="panel-heading">
				<b class="panel-title"><span class="glyphicon glyphicon-signal"></span> Danh sách bạn bè</b>
				
				</div>
<div class="table-responsive">
				<table class="table  table-hover table-striped">

					<tr>
						<td><b>Email</b></td>
						<td><b></b></td>
						
					</tr>
					<% for(var i=0; i < user.friendship.length; i++){ %>
						<tr >
						<td><%= user.friendship[i].email %></td>
						<td onclick="remove('<%= user.friendship[i].email %>')"><a style="float:right;"><span class="glyphicon glyphicon-plus" ></span> Xoá</a> </td>
						<td><a href="/chat" style="float:right;"><span class="glyphicon glyphicon-plus" ></span> Gửi tin nhắn</a> </td>
						</tr>
     				<% }%>


			</table>
			</div>
		</div>
		</div>
		<div class="col-md-3  ">
			
				<div class="panel panel-default">
				<div class="panel-heading">
				<b class="panel-title"><span class="glyphicon glyphicon-search"></span> Thêm bạn bè</b>
				
				</div>
				<table class="table">
						<form name = "friendemail" action = "/friend" method="post">
						<tr><% if (message.length > 0) { %>
                    <div class="alert alert-danger"><%= message %></div>
        <% } %></tr>
							<tr><td><input type = "email" name="f-email" placeholder="Email bạn bè"></input></td>
				
						
						<td><button type="submit" value="addfriend" style="float:right;"><span class="glyphicon glyphicon-plus" ></span> Thêm bạn</button></td></tr>
						</form>
</table>

		</div>
		</div>
	</div>
	</div>

</div>
<div id="footer">
<div class="container">
<hr>
	<br>	<p style="color: white;">Powered by 1312653-1312696</p>
	<br>
</div>
</div>
	</body>
	</html>